/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003264;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #003264;
    color: #ffffff;
    padding: 10px;
}

/* Estilos para la sección de Autores */
#autores {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los enlaces en el menú de navegación */
nav a:hover {
    color: #0077b6;
}

/* Estilos para títulos y subtítulos */
h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    color: #0077b6;
    margin-top: 20px;
}

/* Agregar más estilos según sea necesario */
